version: '3.8'

services:
  sofadb:
    build: .
    ports:
      - "8081:8080"
    volumes:
      - sofadb_data:/data
    restart: always

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    restart: always

volumes:
  sofadb_data:
  mongo_data:
  redis_data:
